<!DOCTYPE html>
<html ng-app="TagBBS" ng-controller="MainCtrl">
<meta charset="utf-8">
<title ng-bind="name"></title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<!-- Use CDN as much as possible to make repo slimmer-->
<!-- CSS Framework -->
<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
<!-- Angular -->
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular-route.min.js"></script>
<!-- Markdown Renderer -->
<script src="//cdnjs.cloudflare.com/ajax/libs/showdown/0.3.1/showdown.min.js"></script>
<!-- YAML -->
<script src="http://nodeca.github.io/js-yaml/js/js-yaml.js"></script>
<!-- Post Editor -->
<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/codemirror/3.21.0/codemirror.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/3.21.0/codemirror.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/codemirror/3.21.0/mode/markdown/markdown.min.js"></script>
<!-- Progress Bar, should replace with a trusted CDN -->
<link rel="stylesheet" type="text/css" href="http://labs.voronianski.com/ngprogress-lite.js/ngprogress-lite.css">
<script src="http://labs.voronianski.com/ngprogress-lite.js/ngprogress-lite.min.js"></script>
<!-- TagBBS -->
<link rel="stylesheet" type="text/css" href="tagbbs.css">
<script src="tagbbs.js"></script>

<body>
<aside>
    <ul class="nav">
        <li ng-show="user"><a href="#{{homepage}}" title="server build: {{version}}"><span class="glyphicon glyphicon-home"></span> {{name}}</a></li>
        <li ng-show="user"><a href="#/test"><span class="glyphicon glyphicon-list"></span> Test</a></li>
        <li ng-show="user"><a href="#/:"><span class="glyphicon glyphicon-file"></span> Put</a></li>
        <li>&nbsp;</li>
        <li ng-hide="user"><a href="#/_/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        <li ng-hide="user"><a href="#/_/register"> Register</a></li>
        <li ng-hide="user"><a href="#/_/passwd"> Password</a></li>
        <li ng-show="user"><a href="#/@/user:{{user}}" title="my profile"><span class="glyphicon glyphicon-user"></span> <span class="text">{{user}}<span></a>
        <li ng-show="user"><a href="#/_/logout"><span class="glyphicon glyphicon-log-out"></span> <span class="text">Logout<span></a></li>
    </ul>
</aside>
<div class="container">
    <div ng-view></div>
</div>

<script type="text/ng-template" id="login.html">
<form role="form" ng-submit="submit()" class="login center-block">
    <div class="alert alert-danger" ng-show="message">{{message}}</div>
    <div class="form-group">
    <label>User</label>
    <input type="text" class="form-control" placeholder="user id" ng-model="user">
    </div>
    <div class="form-group">
    <label>Password</label>
    <input type="password" class="form-control" placeholder="password" ng-model="pass">
    </div>
    <button type="submit" class="btn btn-default">Login</button>
</form>
</script>

<script type="text/ng-template" id="register.html">
<form role="form" ng-submit="submit()" class="login center-block">
    <p>Register
    <div class="alert alert-warning" ng-show="message">{{message}}</div>
    <div class="form-group">
    <label>User</label>
    <input type="text" class="form-control" placeholder="user id" ng-model="user">
    </div>
    <div class="form-group">
    <label>Password</label>
    <input type="password" class="form-control" placeholder="password" ng-model="pass">
    </div>
    <div class="form-group">
    <label>Type Again</label>
    <input type="password" class="form-control" placeholder="password" ng-model="pass2">
    </div>
    <button type="submit" class="btn btn-default">Register</button>
</form>
</script>

<script type="text/ng-template" id="passwd.html">
<form role="form" ng-submit="submit()" class="login center-block">
    <p>Change Password
    <div class="alert alert-warning" ng-show="message">{{message}}</div>
    <div class="form-group">
    <label>User</label>
    <input type="text" class="form-control" placeholder="user id" ng-model="user">
    </div>
    <div class="form-group">
    <label>Old Password</label>
    <input type="password" class="form-control" placeholder="password" ng-model="oldpass">
    </div>
    <div class="form-group">
    <label>Password</label>
    <input type="password" class="form-control" placeholder="password" ng-model="pass">
    </div>
    <div class="form-group">
    <label>Type Again</label>
    <input type="password" class="form-control" placeholder="password" ng-model="pass2">
    </div>
    <button type="submit" class="btn btn-default">Change</button>
</form>
</script>

<script type="text/ng-template" id="logout.html">
<div>{{error}}</div>
</script>

<script type="text/ng-template" id="list.html">
<form ng-submit="newHandQuery()">
<input class="query-input" type="text" ng-model="query" placeholder="all">
</form>
<div class="btn-toolbar list-pagination">
<div class="btn-group">
<button class="btn btn-primary" ng-click="put()"><span class="glyphicon glyphicon-file"></span> Put</button>
</div>
<div class="btn-group">
<button class="btn btn-default" ng-click="firstPage()"><span class="glyphicon glyphicon-step-backward"></span> <span class="text">First</span></button>
<button class="btn btn-default" ng-click="prevPage()"><span class="glyphicon glyphicon-chevron-left"></span> <span class="text">Prev</span></button>
<button class="btn btn-default" ng-click="nextPage()"><span class="text">Next</span> <span class="glyphicon glyphicon-chevron-right"></span></button>
<button class="btn btn-default" ng-click="lastPage()"><span class="text">Last</span> <span class="glyphicon glyphicon-step-forward"></span></button>
</div>
</div>
<div class="alert alert-warning flash" ng-bind="message" ng-show="message"></div>
<div class="key-range" ng-if="posts"><span class="post-key">{{posts[0].key}}</span> ~ <span class="post-key">{{posts[posts.length-1].key}}</span></div>
<ul class="posts-listing center-block">
    <li ng-repeat="post in posts">
        <a href="#/{{query}}/{{post.key}}">
            <span class="post-key">{{post.key}}</span><span class="post-title">{{post.title}}</span>
        </a>
        <a class="post-author" href="#/@/user:{{post.authors.0}}"><span ng-if="post.authors.0">@{{post.authors.0}}</span></a>
        <a class="post-tag" ng-repeat="tag in post.tags" href="#/{{tag}}">#{{tag}}</a>
    </li>
</ul>
</script>

<script type="text/ng-template" id="show.html">
<div class="btn-toolbar thread-pagination" ng-if="query()">
<div class="btn-group">
<a class="btn btn-default" href="#/{{query()}}"><span class="glyphicon glyphicon-list"></span> {{query()}}</a>
<a class="btn btn-default" href="#/{{thread()}}" ng-if="query() != thread()"><span class="glyphicon glyphicon-list"></span> Thread</a>
</div>
<div class="btn-group">
<button class="btn btn-default" ng-click="prev()"><span class="glyphicon glyphicon-chevron-left"></span> <span class="text">Prev</span></button>
<button class="btn btn-default" ng-click="next()"><span class="text">Next</span> <span class="glyphicon glyphicon-chevron-right"></span></button>
</div>
</div>
</div>
<div class="alert alert-warning flash" ng-bind="message" ng-show="message"></div>
<post ng-model="post" ng-if="post.rev"></post>
<div class="alert alert-warning" ng-hide="post.rev || loading"> No Content </div>
<div class="btn-toolbar" ng-hide="loading">
<div class="btn-group">
<button class="btn btn-primary" ng-click="reply()" title="Reply" ng-if="post.rev"><span class="glyphicon glyphicon-edit"></span> Reply</button>
</div>
<div class="btn-group">
<a class="btn btn-default" href="#/:/{{key}}" title="Edit" ng-if="key"><span class="glyphicon glyphicon-edit"></span> Edit</a>
<button class="btn btn-default" ng-click="show_raw()" ng-if="post.rev" title="Show Raw"><span class="glyphicon glyphicon-new-window"></span> Source</button>
</div>
</div>
</script>

<script type="text/ng-template" id="put.html">
<div class="alert alert-danger" ng-if="error">{{error}}</div>
<form ng-submit="submit()">
    <input class="query-input" type="text" ng-model="key" placeholder="new post"><br>
    <textarea class="form-control" rows="15" codemirror ng-model="content"></textarea> <br>
    <button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-floppy-disk"></span> Commit</button>
    <span ng-show="rev">rev: {{rev}}</span><br>
</form>
</script>

<script type="text/ng-template" id="post.html">
<div class="panel panel-default post">
  <div class="panel-heading">
    <h1 class="panel-title">{{title}}</h1>
    <span ng-show="authors" class="post-authors"><span ng-repeat="author in authors"><a href="#/@/user:{{author}}" class="label label-{{$index == 0 && 'primary' || 'primary'}}">@{{author}}</a> </span></span>
    <span ng-show="tags" class="post-tags"><span ng-repeat="tag in tags"><a href="#/{{tag}}" class="label label-info">#{{tag}}</a> </span></span>
    <small>
    <span class="post-timestamp">{{timestamp}} <a href="#/@/{{key}}">{{key}}</a> rev {{rev}}</span>
    </small>
  </div>
  <div class="panel-body">
    <div ng-bind-html="body" ng-if="body" class="post-body"></div>
    <pre ng-bind="source" ng-if="!body" class="post-source"></pre>
  </div>
</div>
</script>

<script type="text/ng-template" id="404.html">
    <p>404 page not found
</script>

</body>
</html>
