.CodeMirror {border: 1px solid gray; font-size:13px}

body {
  padding-left: 120px;
  font-family: Monaco, monospace;
}

aside {
  margin-left: -120px;
  left: 120px;
  width: 120px;
  background: #000;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 99;
}

aside ul.nav {
  top: 0;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}

aside ul.nav li {
  line-height: 40px;
  color: #999999;
}

aside ul.nav li a {
  display: block;
  text-decoration: none;
  color: #999999;
}

aside ul.nav li a:hover {
  color: #fff;
  background: rgba(255,255,255,0.2);
  text-decoration: none;
}

aside ul.nav li a:active,
aside ul.nav li a:focus {
  text-decoration: none;
}

.container {
  width: 100%;
  padding: 10px 20px;
}

.login {
  width: 200px;
}

.query-input {
  width: 100%;
  border: none;
  padding: 0 5px;
  margin-bottom: 10px;
  font-size: 16px;
}

.query-input:focus {
  outline: none;
}

.list-pagination, .thread-pagination {
  display: table;
  margin-bottom: 20px;
}

.key-range {
  display: none;
  color: gray;
}

ul.posts-listing {
  list-style-type: none;
  padding: 5px;
}

ul.posts-listing .post-key {
  display: inline-block;
  color: gray;
  font-size: 10px;
  width: 6em;
  text-align: right;
  padding-right: 5px;
}

ul.posts-listing .post-title, ul.posts-listing .post-author {
  display: inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  vertical-align: bottom; /* Chrome render error.  */
}

ul.posts-listing .post-title {
  font-size: 14px;
  width: 50%;
  max-width: 300px;
}

ul.posts-listing .post-author {
  margin-left: 10px;
  color: gray;
  font-size: 12px;
  width: 60px;
}

ul.posts-listing .post-tag {
  font-size: 10px;
  margin-left: 5px;
}

pre.post-source {
  background: none;
  border: none;
}

.post .panel-heading h1 {
  margin-bottom: 5px;
  font-size: 150%;
}

.post .panel-body h1 {
  font-size: 150%;
}

.post .panel-body h2 {
  font-size: 130%;
}

.post .panel-body h3 {
  font-size: 120%;
}

.post-authors, .post-tags, .post-timestamp {
  display: inline-block;
}

.post-authors .label, .post-tags .label {
  font-weight: normal;
}

@media all and (orientation: portrait), all and (max-width: 720px) {
  body {
    padding-left: 0px;
    padding-top: 40px;
  }
  aside {
    width: 100%;
    font-size: 90%;
    height: 40px;
    margin-top: -40px;
  }
  aside ul.nav li {
    display: inline-block;
    min-width: 40px;
    text-align: center;
    line-height: auto;
  }
  aside ul.nav li a {
    padding: 0 5px;
  }
  ul.posts-listing {
    padding-left: 0px;
  }
  ul.posts-listing .post-key {
    display: none;
  }
  ul.posts-listing .post-title {
    word-wrap: break-word;
  }
  .key-range {
    display: table;
  }
}

@media all and (orientation: landscape) and (max-width: 720px) {
  /* Disable fixed nav */
  body {
    padding-top: 0px;
  }
  aside {
    position: static;
    margin-top: 0px;
    margin-left: 0px;
  }
}

@media all and (max-width: 480px) {
  ul.posts-listing .post-title {
    width: 60%;
  }
  ul.posts-listing .post-tag {
    display: none;
  }
  button .text, aside .text {
    display: none;
  }
  .container {
    padding: 5px 2px;
  }
}

.flash {
  opacity: 1;
  transition: 0.2s linear opacity;
}
.flash.ng-hide {
  opacity: 0;
  padding: 0;
  margin: 0;
  height: 0;
  display: block !important;
}
